
h1{
   font-size: 55px;
   margin: 10px;
}
p{
    background-color: rgb(244, 246, 220);
    width: 65%;
    height: 100%;
    border: 3px solid red;
    padding: 2px;
    margin: 30px;
    font-size: 28px;
}
span{
    border: 3px solid blue;
}
img{
    height: 60px;
}